---
import Layout from "@layouts/Layout.astro";
import HeroContainer from "@components/HeroContainer.astro";  
import Button from "@components/Button.astro";  
import Numeros from "@components/Numeros.astro";
import Galeria from "@components/Galeria.astro";
---
<Layout title="Archivo." description="Archivo-Descripcion">

    <HeroContainer img="/archivo-background.webp">
        <h1 class="text-5xl font-bold mb-10">EDICIONES ANTERIORES</h1>
    
        <Button
            class="animate-fade-up"
            url="https://www.youtube.com/watch?v=1YmpPrqKP-g"
        >
            Revive la ultima gala
        </Button>
      </HeroContainer>
      <main>
        <Galeria />
        <Numeros />
      </main>

</Layout>