<section class="max-w-6xl mx-auto px-20 py-20">
    <h2 class="text-6xl text-center text-balance">
        Los ESLAND en numeros
    </h2>
    <div>
        <p>
            <span class="text-9xl font-bold">Numero</span>
        </p>
        <span>Noticias en prensa</span>
    </div>
    <div>
        <p>
            <span class="text-9xl font-bold">69.9</span>M
        </p>
        <span>Visualizaciones</span>   
    </div>
    <div>
        <p>
            <span class="text-9xl font-bold">3.2</span>M$
        </p>
        <span>en medios ganados</span>
    </div>
</section>